.top {
	
	width: 1000px;
	padding-bottom: 10px;
}
.left {
	
	float: left;
	width: 130px;
	padding-top: 55px;
}
.right {
	
	float: right;
	width: 870px;
}
.form {
	
	float: left;
	width: 425px;
	font-size: .8em;
}
.text {
	
	float: right;
	width: 425px;
	font-size: .8em
}
.bottom {
	
	height: 270px;
	clear: both;
	padding-top: 30px;
}